# ----------------------
# Flask
# ----------------------
flask
tweepy

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
