# ----------------------
# Flask
# ----------------------
flask
tweepy
flask-caching

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
pylibmc
